@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: navy blue;
    --text-color: white;
    --accent-color:tan;
}

html{
    font-size:12px;
}

body{
    font-family: Inter, sans-serif;
    background-color: #262626;
    background-image: linear-gradient(#262626, #003366); /* gradient from dark gray to darker blue */
    background-attachment: fixed; 
    color: white;
}


img{
    width: 100%;
    height:100%
}
 /* styles here */
a{
    text-decoration: none;
    color: white;  /* white text*/
}

.description{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.title{
    color: tan;
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.name_preTitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300;
}

.name_title{
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
    margin: 0.8rem 0;
}

.name_subtitle{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

/*layouts*/
.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: #262626;
    background-image: linear-gradient(#262626, #003366); /* gradient from dark gray to darker blue */
    background-attachment: fixed; 
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}

@media only screen and (max-width: 768px) {
    .container{
        width: 100%;  /*will control width size of webpage*/
        grid-template-columns: 1fr; 
        padding: 3rem;
        gap: 7rem;
    }
}

.profile{  /*this will take up the middle space between two columns for pic and bio*/
    grid-column: 1 / -1;  /* start at first column, then take up space of other columns*/
    margin: 2rem;
}

.group-1{
    display: flex;
    flex-direction: column;
    gap: 5rem
}

/* profile layout for image and text */
.profile_container{
    display: flex;
    gap: .5rem;   
}

.profile_img{
    max-width: none;
    max-height: none;
}

.profile_first_name {
    color: white;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);  /* makes window expandable acording to screen */
    text-transform: uppercase;
    display: block;
    margin-bottom: -.8rem;
}

.profile_last_name {
    color: tan;
    font-weight: 700;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.button{
    display: block;
    text-decoration: underline;
    font-size: 1.6rem;
    margin-top: 1rem;   
}

.button:hover{
    color: bright blue;
}

@media only screen and (max-width: 768px){
    .profile_container {
        flex-direction: column;
    }
}

/*Skills*/
.skills_list{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* EDUCATION section */
.edu_name{
    margin-top: 2rem;

}

/* COURSEWORK section */
.relevant-coursework{
    margin-top: 2rem;

}
/*Experience Section*/
.exp_name{
    margin-top: 2rem;

}

/*contact me*/
.socials{
    margin-top: 2rem;
}
.social-link{
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}
.social-link:hover{
    color: var(--primary-color);
}